<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/index.css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="center">
            <nav>
                <ul>
                    <div id="brand">Brand</div> 
                    <li class="icon"><a href="#">Icon 1</a></li>
                    <li class="icon"><a href="#">Icon 2</a></li>
                    <li class="icon"><a href="#">Icon 3</a></li>
                    <li><div></div></li>
                </ul>                
            </nav>              
        </div>          
    </header>

    <div class="container">
        <div class="divID">
            <div class="foto">
                <button>Botão</button>
            </div>
            
        </div>

        <div class="form">           
            <form action="" >
                <input type="text" id="inputText" size="22">
                <button class="btnForm" >Botão</button>
                <button type="submit" class="btnForm" id="btnSubmitForm">Submit</button>
            </form>
        </div>

        <div class="vert">

        </div>                
    </div>
    <div class="feed">
        <div class="post">
            <div class="fotoPerfilPost">
                
            </div>
            <div class="fotoPost">
                <img src="" alt="">
            </div>
        </div>
    </div>         
</body>
</html>